@import "~@application/theme/color.scss";

#application {
  div.section-break {
    div.map {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
    aside.card {
      margin: calc(20vw + 300px) auto 20vw;
      @media (min-width: 720px) { margin: 20vw auto 20vw calc(25% - 160px); }
      text-align: center;
      width: calc(100% - 1rem);
      @media (min-width: 720px) { width: 320px; }

      ul {
        li {
          display: block;
          margin: 0 0 1rem;

          &:first-child {
            margin: 0.5rem 0 1rem;
          }

          &:last-child {
            margin: 0;
          }

          a {
            background-color: #ededed;
            background-image: radial-gradient(circle at center, #e6e6e6 40%, #e0e0e0 80%);
            border: 2px solid #e0e0e0;
            color: #000000;
            display: block;
            padding: 0.25rem;
            text-align: center;
            text-decoration: none;
            transition: transform 0.2s ease-in-out;

            &:hover {
              transform: scale(1.025);
            }
          }
        }
      }
    }
  }
}
