@import "~@application/theme/color.scss";

#application {
  div.gallery-background {
    background: #fec700;
    background: -moz-radial-gradient(circle at center, #fec700 0%, #ff9500 100%);
    background: -webkit-radial-gradient(circle at center, #fec700 0%, #ff9500 100%);
    background: radial-gradient(circle at center, #fec700 0%, #ff9500 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fec700', endColorstr='#ff9500', GradientType=1 );
  }
}
