@import "~@application/theme/color.scss";

#application section .call-to-action-container {
  display: flex;
  flex-direction: row;
  font-family: 'alcuin';
  flex-direction: column;
  text-align: center;
  width: 100%;
  .sub {
    display: block;
    font-size: 1.2rem;
    line-height: 1.8;
  }
  .main {
    display: block;
    font-size: 2rem;
  }
}
