
$black: #000000;
$white: #ffffff;

$primary-color: #fec700;
$secondary-color: #2e1b14;

$success-color: #87df35;
$failure-color: #d62c44;
$notice-color: #bde7ff;

$dark-color: $black;
$light-color: $white;
